{% extends 'main/base.html' %}
{% block title %}
Home title
{% endblock %}
{% block content %}
<h1>Home page</h1>
<p>Upcoming events:</p>
        {% if are_incoming %}
            {% for td in user.todolist.all %}
                    <p><a href="/{{td.id}}">{{td.name}}</a></p>

                    {% for item in td.item_set.all %}
                        {% if item.complete == False and item.date %} 
                            {% if item.is_past_due %}
                                <div class="alert alert-danger" role="alert">
                                    {{item.text}}
                                    {{item.date}}
                                </div>
                            {% elif item.is_close_to_due %}
                                <div class="alert alert-warning" role="alert">
                                    {{item.text}}
                                    {{item.date}}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
            {% endfor %}
        {% endif %}

{% endblock %}
