{% extends 'main/base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1>Home</h1>
    <h4>Incomplete lists:</h4>
            {% if are_incoming %}
                {% for td in user.todolist.all %}
                        <p><a href="/{{td.id}}">{{td.name}}</a></p>

                        {% for item in td.item_set.all %}
                            {% if item.complete == False and item.date %} 
                                {% if item.is_past_due %}
                                    <div class="alert alert-danger" role="alert">
                                        {{item.text}}
                                        {{item.date}}
                                    </div>
                                {% elif item.is_close_to_due %}
                                    <div class="alert alert-warning" role="alert">
                                        {{item.text}}
                                        {{item.date}}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                {% endfor %}
            {% else %}
            No tasks :)
            {% endif %}
{% else %}
    <p>You're not logged in. Log in <a href="/login"> here</a></p>
{% endif %}
{% endblock %}