{% extends "main/base.html" %}
{% block title %}View list{% endblock %}
{% block content %}
<form method="post" id="change" action="/{{ls.id}}">
    {% csrf_token %}

    <div class="input-group mb-3">
        <input type="text" value="{{ls.name}}" name="list_name" class="form-control"
            style="width: 250px; font-size: 20px;">
    </div>

    {% for item in ls.item_set.all %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                {% if item.complete == True %}
                <input type="checkbox" value="clicked" name="c{{item.id}}" checked>
                {% else %}
                <input type="checkbox" value="clicked" name="c{{item.id}}">
                {% endif %}
            </div>
        </div>

        <input type="text" value="{{item.text}}" name="text{{item.id}}" class="form-control">
        <input type="date" value="{{item.date | date:'Y-m-d'}}" name="date{{item.id}}">

        <div class="input-group-prepend">
            <button type="submit" , value="{{item.id}}" form="change" name="remove" class="btn btn-danger"> X </button>
        </div>
    </div>
    {% endfor %}

    <div class="d-flex justify-content-end">
        <button type="submit" name="save" value="save" form="change" class="btn btn-success">Save</button>
    </div>
</form>

<br>
<form method="post" action="/new-item/{{ls.id}}">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" name="new" class="form-control">
        <input type="date" , name="set_date">

        <div class="input-group-prepend">
            <button type="submit" , name="newItem" , value="newItem" , class="btn btn-success">Add item</button>
        </div>
    </div>
</form>
{% endblock %}