{% extends "main/base.html" %}

{% block title %}
Lists
{% endblock %}

{% block content %}
<form method="post" actions="/view/" class="form-group">
    {% csrf_token %}

    {% for ls in user.todolist.all %}
    <div class="input-group mb-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <li>
                    <h1 class="h5" style="width: 250px; font-size: 20px;"><a href="/{{ls.id}}">{{ls.name}}</a></h1>
                </li>

                <div class="input-group-prepend">
                    <button type="submit" value="{{ls.id}}" name="remove" class="btn btn-danger"> X </button>
                </div>
            </div>
        </div>

        {% endfor %}
        <p>Create new list <a href="/create">here.</a></p>
</form>
{% endblock %}